# Git
.git
.gitignore

# Python Cache
__pycache__
*.pyc
*.pyo
*.pyd

# Environments 
.env
.venv
env/
venv/
ENV/

# Airflow Specific 
airflow.db              
airflow-webserver.pid   
standalone_admin_password.txt
webserver_config.py    

# Logs 
logs/
*.log

# Editor config
.vscode
.idea
.DS_Store